<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Find Seafood</title>
</head>
<body>
  <header>
    <div class="container-fluid dp-none">
      <img src="../assets/images/header.png" alt="header">
    </div>
  </header>
  <main>
    <section class="logo">
      <div class="container-fluid">
        <div class="col-xs-8 col-xs-offset-2 padding-cero col-sm-2 col-sm-offset-5">
          <img src="../assets/images/logo-grande.png" alt="logo">
        </div>
      </div>
    </section>
    <section class="busqueda">
      <div class="container-fluid">
        <div class="col-xs-10 col-xs-offset-1 padding-cero">
          <!-- input de bootstrap -->
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Ingresa un distrito de Lima" id="input">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
          <!-- /input-group -->
        </div>
      </div>
    </section>
    <section class="section-map ocultar">
      <div class="container-fluid">
        <div class="col-xs-8 col-xs-offset-2 borde-orange">
          <!-- mapa de restaurant cercanos -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3902.8451426636716!2d-77.08202850685423!3d-11.985215168996257!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1514413628991" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </section>
    <section class="descripcion ocultar">
      <div class="container-fluid">
        <div class="col-xs-10 col-xs-offset-1">
          <p>Te ayudamos a encontrar los restaurantes mas cercanos con lo mejor en pescados y mariscos</p>
        </div>
      </div>
    </section>
    <section class="show-distict">
      <div class="container-fluid">
        <div class="col-xs-10 col-xs-offset-1" id="show-dis">
          
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container-fluid dp-none">
      <img src="../assets/images/footer.png" alt="footer">
    </div>
  </footer>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/filtro-input.js"></script>
  <script src="../js/district.js"></script>
</body>
</html>